/* body{
    background-color: aqua;
} */


h1{
    /* definindo cores pelo nome */
    color: red;
}

#subtitulo{
    /* definindo cores pelo rgb */
    color:rgb(0, 0, 255);
}

.amarelo{
    /* definindo cores pelo hex code */
    color:#000000;
}

#area-principal{
    /* definindo cores pelo rgba */
    background-color: rgba(0, 255, 255, 0.5);
}